.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 960px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-container > div {
    height: 100%;
    width: 90%;
    margin: 10px 0;
  }
}
